body{
    background-color: lightslategray;
}
.about{
    width:100%;

}
.about img{
    height: auto;
    width:450px;
    backdrop-filter:blur(90px);
    padding-top: 20px;
}
.text{
    width:500px;
}
.main{
    width:1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.head{
    color:white;
    font-size: 39px;
    text-transform:capitalize;
    padding-bottom: 10px;
}
 